.font9 {
	FONT-SIZE: 9px
}
.font12 {
	FONT-SIZE: 12px
}
.font14 {
	FONT-SIZE: 14px
}
.font20 {
	FONT-SIZE: 20px
}
.font24 {
	FONT-SIZE: 24px
}
.font30 {
	FONT-SIZE: 30px
}
.hg18 {
	LINE-HEIGHT: 18px
}
.hg19 {
	LINE-HEIGHT: 19px
}
.hg20 {
	LINE-HEIGHT: 20px
}
.hg21 {
	LINE-HEIGHT: 21px
}
.hg22 {
	LINE-HEIGHT: 22px
}
.hg24 {
	LINE-HEIGHT: 24px
}
.hg26 {
	LINE-HEIGHT: 26px
}
.jc {
	FONT-WEIGHT: bold
}
.lx {
	FONT-FAMILY: "ºÚÌå"
}
A.xhx1 {
	TEXT-DECORATION: underline
}
A.xhx1:hover {
	TEXT-DECORATION: none
}
A.xhx2 {
	TEXT-DECORATION: none
}
A.xhx2:hover {
	TEXT-DECORATION: underline
}
A.xhx3 {
	TEXT-DECORATION: underline
}
A.xhx3:hover {
	TEXT-DECORATION: underline
}
A.xhx4 {
	TEXT-DECORATION: none
}
A.xhx4:hover {
	TEXT-DECORATION: none
}
.sx001a {
	COLOR: #231f20
}
A.sx001 {
	COLOR: #231f20
}
A.sx001b:hover {
	COLOR: #231f20
}
.sx002a {
	COLOR: #414143
}
A.sx002 {
	COLOR: #414143
}
A.sx002b:hover {
	COLOR: #414143
}
.sx003a {
	COLOR: #58595b
}
A.sx003 {
	COLOR: #58595b
}
A.sx003b:hover {
	COLOR: #58595b
}
.sx004a {
	COLOR: #6d6e70
}
A.sx004 {
	COLOR: #6d6e70
}
A.sx004b:hover {
	COLOR: #6d6e70
}
.sx005a {
	COLOR: #818286
}
A.sx005 {
	COLOR: #818286
}
A.sx005b:hover {
	COLOR: #818286
}
.sx006a {
	COLOR: #8dd8f8
}
A.sx006 {
	COLOR: #8dd8f8
}
A.sx006b:hover {
	COLOR: #8dd8f8
}
.sx007a {
	COLOR: #a5c2d2
}
A.sx007 {
	COLOR: #a5c2d2
}
A.sx007b:hover {
	COLOR: #a5c2d2
}
.sx008a {
	COLOR: #859caa
}
A.sx008 {
	COLOR: #859caa
}
A.sx008b:hover {
	COLOR: #859caa
}
.sx009a {
	COLOR: #647883
}
A.sx009 {
	COLOR: #647883
}
A.sx009b:hover {
	COLOR: #647883
}
.sx010a {
	COLOR: #43515a
}
A.sx010 {
	COLOR: #43515a
}
A.sx010b:hover {
	COLOR: #43515a
}
.sx011a {
	COLOR: #949599
}
A.sx011 {
	COLOR: #949599
}
A.sx011b:hover {
	COLOR: #949599
}
.sx012a {
	COLOR: #a8a9ad
}
A.sx012 {
	COLOR: #a8a9ad
}
A.sx012b:hover {
	COLOR: #a8a9ad
}
.sx013a {
	COLOR: #bcbdbf
}
A.sx013 {
	COLOR: #bcbdbf
}
A.sx013b:hover {
	COLOR: #bcbdbf
}
.sx014a {
	COLOR: #d2d3d5
}
A.sx014 {
	COLOR: #d2d3d5
}
A.sx014b:hover {
	COLOR: #d2d3d5
}
.sx015a {
	COLOR: #e7e7e9
}
A.sx015 {
	COLOR: #e7e7e9
}
A.sx015b:hover {
	COLOR: #e7e7e9
}
.sx016a {
	COLOR: #4a6e6e
}
A.sx016 {
	COLOR: #4a6e6e
}
A.sx016b:hover {
	COLOR: #4a6e6e
}
.sx017a {
	COLOR: #3c8476
}
A.sx017 {
	COLOR: #3c8476
}
A.sx017b:hover {
	COLOR: #3c8476
}
.sx018a {
	COLOR: #61928f
}
A.sx018 {
	COLOR: #61928f
}
A.sx018b:hover {
	COLOR: #61928f
}
.sx019a {
	COLOR: #4fa393
}
A.sx019 {
	COLOR: #4fa393
}
A.sx019b:hover {
	COLOR: #4fa393
}
.sx020a {
	COLOR: #54a175
}
A.sx020 {
	COLOR: #54a175
}
A.sx020b:hover {
	COLOR: #54a175
}
.sx021a {
	COLOR: #ffffff
}
A.sx021 {
	COLOR: #ffffff
}
A.sx021b:hover {
	COLOR: #ffffff
}
.sx022a {
	COLOR: #2e3094
}
A.sx022 {
	COLOR: #2e3094
}
A.sx022b:hover {
	COLOR: #2e3094
}
.sx023a {
	COLOR: #01aef0
}
A.sx023 {
	COLOR: #01aef0
}
A.sx023b:hover {
	COLOR: #01aef0
}
.sx024a {
	COLOR: #00a650
}
A.sx024 {
	COLOR: #00a650
}
A.sx024b:hover {
	COLOR: #00a650
}
.sx025a {
	COLOR: #fef200
}
A.sx025 {
	COLOR: #fef200
}
A.sx025b:hover {
	COLOR: #fef200
}
.sx026a {
	COLOR: #55c5d0
}
A.sx026 {
	COLOR: #55c5d0
}
A.sx026b:hover {
	COLOR: #55c5d0
}
.sx027a {
	COLOR: #47a5af
}
A.sx027 {
	COLOR: #47a5af
}
A.sx027b:hover {
	COLOR: #47a5af
}
.sx028a {
	COLOR: #aac0b3
}
A.sx028 {
	COLOR: #aac0b3
}
A.sx028b:hover {
	COLOR: #aac0b3
}
.sx029a {
	COLOR: #cce7d4
}
A.sx029 {
	COLOR: #cce7d4
}
A.sx029b:hover {
	COLOR: #cce7d4
}
.sx030a {
	COLOR: #9bd3ae
}
A.sx030 {
	COLOR: #9bd3ae
}
A.sx030b:hover {
	COLOR: #9bd3ae
}
.sx031a {
	COLOR: #ed1b24
}
A.sx031 {
	COLOR: #ed1b24
}
A.sx031b:hover {
	COLOR: #ed1b24
}
.sx032a {
	COLOR: #ed008c
}
A.sx032 {
	COLOR: #ed008c
}
A.sx032b:hover {
	COLOR: #ed008c
}
.sx033a {
	COLOR: #a64686
}
A.sx033 {
	COLOR: #a64686
}
A.sx033b:hover {
	COLOR: #a64686
}
.sx034a {
	COLOR: #f6821f
}
A.sx034 {
	COLOR: #f6821f
}
A.sx034b:hover {
	COLOR: #f6821f
}
.sx035a {
	COLOR: #f7abad
}
A.sx035 {
	COLOR: #f7abad
}
A.sx035b:hover {
	COLOR: #f7abad
}
.sx036a {
	COLOR: #879b90
}
A.sx036 {
	COLOR: #879b90
}
A.sx036b:hover {
	COLOR: #879b90
}
.sx037a {
	COLOR: #899975
}
A.sx037 {
	COLOR: #899975
}
A.sx037b:hover {
	COLOR: #899975
}
.sx038a {
	COLOR: #aebc71
}
A.sx038 {
	COLOR: #aebc71
}
A.sx038b:hover {
	COLOR: #aebc71
}
.sx039a {
	COLOR: #abbe91
}
A.sx039 {
	COLOR: #abbe91
}
A.sx039b:hover {
	COLOR: #abbe91
}
.sx040a {
	COLOR: #a6ce39
}
A.sx040 {
	COLOR: #a6ce39
}
A.sx040b:hover {
	COLOR: #a6ce39
}
.sx041a {
	COLOR: #7f6b64
}
A.sx041 {
	COLOR: #7f6b64
}
A.sx041b:hover {
	COLOR: #7f6b64
}
.sx042a {
	COLOR: #c7c4e3
}
A.sx042 {
	COLOR: #c7c4e3
}
A.sx042b:hover {
	COLOR: #c7c4e3
}
.sx043a {
	COLOR: #9c95c9
}
A.sx043 {
	COLOR: #9c95c9
}
A.sx043b:hover {
	COLOR: #9c95c9
}
.sx044a {
	COLOR: #6b8bc6
}
A.sx044 {
	COLOR: #6b8bc6
}
A.sx044b:hover {
	COLOR: #6b8bc6
}
.sx045a {
	COLOR: #756eb4
}
A.sx045 {
	COLOR: #756eb4
}
A.sx045b:hover {
	COLOR: #756eb4
}
.sx046a {
	COLOR: #d2e387
}
A.sx046 {
	COLOR: #d2e387
}
A.sx046b:hover {
	COLOR: #d2e387
}
.sx047a {
	COLOR: #59574a
}
A.sx047 {
	COLOR: #59574a
}
A.sx047b:hover {
	COLOR: #59574a
}
.sx048a {
	COLOR: #81806e
}
A.sx048 {
	COLOR: #81806e
}
A.sx048b:hover {
	COLOR: #81806e
}
.sx049a {
	COLOR: #a6a890
}
A.sx049 {
	COLOR: #a6a890
}
A.sx049b:hover {
	COLOR: #a6a890
}
.sx050a {
	COLOR: #a9a575
}
A.sx050 {
	COLOR: #a9a575
}
A.sx050b:hover {
	COLOR: #a9a575
}
.sx051a {
	COLOR: #837da9
}
A.sx051 {
	COLOR: #837da9
}
A.sx051b:hover {
	COLOR: #837da9
}
.sx052a {
	COLOR: #485d88
}
A.sx052 {
	COLOR: #485d88
}
A.sx052b:hover {
	COLOR: #485d88
}
.sx053a {
	COLOR: #4e4b6a
}
A.sx053 {
	COLOR: #4e4b6a
}
A.sx053b:hover {
	COLOR: #4e4b6a
}
.sx054a {
	COLOR: #657a99
}
A.sx054 {
	COLOR: #657a99
}
A.sx054b:hover {
	COLOR: #657a99
}
.sx055a {
	COLOR: #0094da
}
A.sx055 {
	COLOR: #0094da
}
A.sx055b:hover {
	COLOR: #0094da
}
.sx056a {
	COLOR: #d6cb6f
}
A.sx056 {
	COLOR: #d6cb6f
}
A.sx056b:hover {
	COLOR: #d6cb6f
}
.sx057a {
	COLOR: #fff685
}
A.sx057 {
	COLOR: #fff685
}
A.sx057b:hover {
	COLOR: #fff685
}
.sx058a {
	COLOR: #fff9ad
}
A.sx058 {
	COLOR: #fff9ad
}
A.sx058b:hover {
	COLOR: #fff9ad
}
.sx059a {
	COLOR: #a6a890
}
A.sx059 {
	COLOR: #a6a890
}
A.sx059b:hover {
	COLOR: #a6a890
}
.sx060a {
	COLOR: #a88b6b
}
A.sx060 {
	COLOR: #a88b6b
}
A.sx060b:hover {
	COLOR: #a88b6b
}
.sx061a {
	COLOR: #ca8a5e
}
A.sx061 {
	COLOR: #ca8a5e
}
A.sx061b:hover {
	COLOR: #ca8a5e
}
.sx062a {
	COLOR: #d1ab64
}
A.sx062 {
	COLOR: #d1ab64
}
A.sx062b:hover {
	COLOR: #d1ab64
}
.sx063a {
	COLOR: #f48445
}
A.sx063 {
	COLOR: #f48445
}
A.sx063b:hover {
	COLOR: #f48445
}
.sx064a {
	COLOR: #faa74b
}
A.sx064 {
	COLOR: #faa74b
}
A.sx064b:hover {
	COLOR: #faa74b
}
.sx065a {
	COLOR: #faa971
}
A.sx065 {
	COLOR: #faa971
}
A.sx065b:hover {
	COLOR: #faa971
}
.sx066a {
	COLOR: #7d5669
}
A.sx066 {
	COLOR: #7d5669
}
A.sx066b:hover {
	COLOR: #7d5669
}
.sx067a {
	COLOR: #a2587b
}
A.sx067 {
	COLOR: #a2587b
}
A.sx067b:hover {
	COLOR: #a2587b
}
.sx068a {
	COLOR: #f7adce
}
A.sx068 {
	COLOR: #f7adce
}
A.sx068b:hover {
	COLOR: #f7adce
}
.sx069a {
	COLOR: #ca8fab
}
A.sx069 {
	COLOR: #ca8fab
}
A.sx069b:hover {
	COLOR: #ca8fab
}
.sx070a {
	COLOR: #a4909c
}
A.sx070 {
	COLOR: #a4909c
}
A.sx070b:hover {
	COLOR: #a4909c
}
.sx071a {
	COLOR: #ffcb01
}
A.sx071 {
	COLOR: #ffcb01
}
A.sx071b:hover {
	COLOR: #ffcb01
}
.sx072a {
	COLOR: #fed09e
}
A.sx072 {
	COLOR: #fed09e
}
A.sx072b:hover {
	COLOR: #fed09e
}
.sx073a {
	COLOR: #7e6a51
}
A.sx073 {
	COLOR: #7e6a51
}
A.sx073b:hover {
	COLOR: #7e6a51
}
.sx074a {
	COLOR: #a25742
}
A.sx074 {
	COLOR: #a25742
}
A.sx074b:hover {
	COLOR: #a25742
}
.sx075a {
	COLOR: #ca6c38
}
A.sx075 {
	COLOR: #ca6c38
}
A.sx075b:hover {
	COLOR: #ca6c38
}
.sx076a {
	COLOR: #ceb2c0
}
A.sx076 {
	COLOR: #ceb2c0
}
A.sx076b:hover {
	COLOR: #ceb2c0
}
.sx077a {
	COLOR: #a56894
}
A.sx077 {
	COLOR: #a56894
}
A.sx077b:hover {
	COLOR: #a56894
}
.sx078a {
	COLOR: #c7549f
}
A.sx078 {
	COLOR: #c7549f
}
A.sx078b:hover {
	COLOR: #c7549f
}
.sx079a {
	COLOR: #c87eb3
}
A.sx079 {
	COLOR: #c87eb3
}
A.sx079b:hover {
	COLOR: #c87eb3
}
.sx080a {
	COLOR: #a587ab
}
A.sx080 {
	COLOR: #a587ab
}
A.sx080b:hover {
	COLOR: #a587ab
}
.sx081a {
	COLOR: #f68366
}
A.sx081 {
	COLOR: #f68366
}
A.sx081b:hover {
	COLOR: #f68366
}
.sx082a {
	COLOR: #f8ab8f
}
A.sx082 {
	COLOR: #f8ab8f
}
A.sx082b:hover {
	COLOR: #f8ab8f
}
.sx083a {
	COLOR: #fcd3c1
}
A.sx083 {
	COLOR: #fcd3c1
}
A.sx083b:hover {
	COLOR: #fcd3c1
}
.sx084a {
	COLOR: #a57078
}
A.sx084 {
	COLOR: #a57078
}
A.sx084b:hover {
	COLOR: #a57078
}
.sx085a {
	COLOR: #c86d6c
}
A.sx085 {
	COLOR: #c86d6c
}
A.sx085b:hover {
	COLOR: #c86d6c
}
.sx086a {
	COLOR: #c9a0ca
}
A.sx086 {
	COLOR: #c9a0ca
}
A.sx086b:hover {
	COLOR: #c9a0ca
}
.sx087a {
	COLOR: #684f6c
}
A.sx087 {
	COLOR: #684f6c
}
A.sx087b:hover {
	COLOR: #684f6c
}
.sx088a {
	COLOR: #846d89
}
A.sx088 {
	COLOR: #846d89
}
A.sx088b:hover {
	COLOR: #846d89
}
.sx089a {
	COLOR: #9f76b2
}
A.sx089 {
	COLOR: #9f76b2
}
A.sx089b:hover {
	COLOR: #9f76b2
}
.sx090a {
	COLOR: #a2238e
}
A.sx090 {
	COLOR: #a2238e
}
A.sx090b:hover {
	COLOR: #a2238e
}
.sx091a {
	COLOR: #ca6f81
}
A.sx091 {
	COLOR: #ca6f81
}
A.sx091b:hover {
	COLOR: #ca6f81
}
.sx092a {
	COLOR: #ef1454
}
A.sx092 {
	COLOR: #ef1454
}
A.sx092b:hover {
	COLOR: #ef1454
}
.sx093a {
	COLOR: #f58581
}
A.sx093 {
	COLOR: #f58581
}
A.sx093b:hover {
	COLOR: #f58581
}
.sx094a {
	COLOR: #f05b71
}
A.sx094 {
	COLOR: #f05b71
}
A.sx094b:hover {
	COLOR: #f05b71
}
.sx095a {
	COLOR: #cb8d92
}
A.sx095 {
	COLOR: #cb8d92
}
A.sx095b:hover {
	COLOR: #cb8d92
}
.sx096a {
	COLOR: #874285
}
A.sx096 {
	COLOR: #874285
}
A.sx096b:hover {
	COLOR: #874285
}
.sx097a {
	COLOR: #7c51a1
}
A.sx097 {
	COLOR: #7c51a1
}
A.sx097b:hover {
	COLOR: #7c51a1
}
.sx098a {
	COLOR: #6a4d79
}
A.sx098 {
	COLOR: #6a4d79
}
A.sx098b:hover {
	COLOR: #6a4d79
}
.sx099a {
	COLOR: #694187
}
A.sx099 {
	COLOR: #694187
}
A.sx099b:hover {
	COLOR: #694187
}
.sx100a {
	COLOR: #000000
}
A.sx100 {
	COLOR: #000000
}
A.sx100b:hover {
	COLOR: #000000
}
.h_title {
	OVERFLOW: hidden; WIDTH: 250px; WORD-BREAK: keep-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.title_300 {
	OVERFLOW: hidden; WIDTH: 300px; WORD-BREAK: keep-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.title_390 {
	OVERFLOW: hidden; WIDTH: 390px; WORD-BREAK: keep-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.title_180 {
	OVERFLOW: hidden; WIDTH: 180px; WORD-BREAK: keep-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.title_280 {
	OVERFLOW: hidden; WIDTH: 280px; WORD-BREAK: keep-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
.title_130 {
	OVERFLOW: hidden; WIDTH: 185px; WORD-BREAK: keep-all; WHITE-SPACE: nowrap; TEXT-OVERFLOW: ellipsis
}
