BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H2 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
P {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
H3 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DT {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
DD {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
BODY {
	FONT: 400 12px/21px arial; COLOR: #000
}
TD {
	FONT: 400 12px/21px arial; COLOR: #000
}
BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.mass {
	MARGIN: 0px auto; OVERFLOW: hidden; WIDTH: 984px; TEXT-ALIGN: left
}
.clear {
	CLEAR: both; MARGIN-TOP: -1px; FONT-SIZE: 0px; OVERFLOW: hidden; HEIGHT: 1px
}
A:link {
	COLOR: #039; TEXT-DECORATION: none
}
A:visited {
	COLOR: #039; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f00; TEXT-DECORATION: underline
}
A:active {
	COLOR: #f00; TEXT-DECORATION: underline
}
A.bright:link {
	COLOR: #f00
}
A.bright:visited {
	COLOR: #f00
}
.bright {
	COLOR: #f00
}
.bright A:link {
	COLOR: #f00
}
.bright A:visited {
	COLOR: #f00
}
.b {
	FONT-WEIGHT: 700
}
A IMG {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}
.boxBody {
	WORD-BREAK: break-all; WORD-WRAP: break-word
}
.start {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; OVERFLOW: hidden; LINE-HEIGHT: 25px; PADDING-TOP: 0px; HEIGHT: 25px; BACKGROUND-COLOR: #e6f1ff
}
.start SPAN {
	FLOAT: right
}
.start I {
	MARGIN: 0px 10px
}
.start A.spec:link {
	COLOR: #000
}
.start A.spec:visited {
	COLOR: #000
}
.nav {
	PADDING-RIGHT: 10px; BACKGROUND: url(../img/sprites.gif) #fff repeat-x 0px 0px; OVERFLOW: hidden; HEIGHT: 83px
}
#logo {
	FLOAT: left
}
#navAd {
	FLOAT: right; MARGIN: 16px 0px 0px 20px
}
#nav {
	FONT-WEIGHT: 700; FLOAT: right; MARGIN: 12px 0px 0px; OVERFLOW: hidden; TEXT-ALIGN: right
}
#nav I {
	FONT-WEIGHT: 400; MARGIN: 0px 12px; COLOR: #a8c4e7
}
#nav FORM {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 10px; TEXT-ALIGN: center
}
#nav .txt {
	VERTICAL-ALIGN: middle
}
#nav .sbm {
	VERTICAL-ALIGN: middle
}
#nav .txt {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; PADDING-BOTTOM: 1px; FONT: 400 14px/20px arial; WIDTH: 355px; PADDING-TOP: 3px; HEIGHT: 20px
}
#nav .sbm {
	WIDTH: 86px; HEIGHT: 27px
}
#category {
	BACKGROUND: url(../img/sprites.gif) repeat-x 0px -83px; OVERFLOW: hidden; LINE-HEIGHT: 30px; HEIGHT: 30px
}
#category LI {
	FLOAT: left; WIDTH: 89px; TEXT-ALIGN: center
}
#category A:link {
	COLOR: #fff; ZOOM: 1
}
#category A:visited {
	COLOR: #fff; ZOOM: 1
}
#ft {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	PADDING-BOTTOM: 0px;
	MARGIN: 15px auto 0px;
	PADDING-TOP: 15px;
	border-top-width: 10px;
	border-top-style: solid;
	border-top-color: #00CCFF;
}
#ft SPAN {
	COLOR: #777; MARGIN-RIGHT: 30px
}
#ft I {
	MARGIN: 0px 5px
}
#ft A:link {
	COLOR: #000
}
#ft A:visited {
	COLOR: #000
}
#ft A.skylink:link {
	COLOR: #039
}
#ft A.skylink:visited {
	COLOR: #039
}
#s1 {
	OVERFLOW: hidden; ZOOM: 1
}
#s2 {
	OVERFLOW: hidden; ZOOM: 1
}
#s3 {
	OVERFLOW: hidden; ZOOM: 1
}
#s4 {
	OVERFLOW: hidden; ZOOM: 1
}
#s5 {
	OVERFLOW: hidden; ZOOM: 1
}
.col1 {
	FLOAT: left; WIDTH: 310px
}
.col2 {
	FLOAT: right; WIDTH: 440px
}
.col3 {
	FLOAT: right; MARGIN-LEFT: 10px; OVERFLOW: hidden; WIDTH: 214px
}
.col12 {
	FLOAT: left; OVERFLOW: hidden; WIDTH: 760px; ZOOM: 1
}
.mod {
	BORDER-RIGHT: #75a3ed 1px solid; BORDER-TOP: #75a3ed 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #75a3ed 1px solid; BORDER-BOTTOM: #75a3ed 1px solid; ZOOM: 1
}
.mod2 {
	BORDER-RIGHT: #75a3ed 1px solid; BORDER-TOP: #75a3ed 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #75a3ed 1px solid; BORDER-BOTTOM: #75a3ed 1px solid; ZOOM: 1
}
.mod3 {
	BORDER-RIGHT: #75a3ed 1px solid; BORDER-TOP: #75a3ed 1px solid; MARGIN-BOTTOM: 10px; BORDER-LEFT: #75a3ed 1px solid; BORDER-BOTTOM: #75a3ed 1px solid; ZOOM: 1
}
.mod3 {
	BORDER-RIGHT: #ea6300 1px solid; BORDER-TOP: #ea6300 1px solid; BORDER-LEFT: #ea6300 1px solid; BORDER-BOTTOM: #ea6300 1px solid
}
.mod H2 {
	PADDING-LEFT: 10px; BACKGROUND: url(../img/sprites.gif) repeat-x 0px -113px; FONT: 700 12px/23px simsun; COLOR: #333
}
.mod2 H2 {
	PADDING-LEFT: 10px; BACKGROUND: url(../img/sprites.gif) repeat-x 0px -113px; FONT: 700 12px/23px simsun; COLOR: #333
}
.mod3 H2 {
	PADDING-LEFT: 10px; BACKGROUND: url(../img/sprites.gif) repeat-x 0px -113px; FONT: 700 12px/23px simsun; COLOR: #333
}
.mod2 H2 {
	BACKGROUND-POSITION: 0px -136px
}
.mod3 H2 {
	BACKGROUND-POSITION: 0px -188px
}
.mod H2 P {
	PADDING-RIGHT: 10px; MARGIN-TOP: -23px; FONT-WEIGHT: 400; TEXT-ALIGN: right
}
.mod2 H2 P {
	PADDING-RIGHT: 10px; MARGIN-TOP: -23px; FONT-WEIGHT: 400; TEXT-ALIGN: right
}
.mod3 H2 P {
	PADDING-RIGHT: 10px; MARGIN-TOP: -23px; FONT-WEIGHT: 400; TEXT-ALIGN: right
}
.mod H2 A:link {
	COLOR: #fff
}
.mod H2 A:visited {
	COLOR: #fff
}
.mod2 H2 A:link {
	COLOR: #333
}
.mod2 H2 A:visited {
	COLOR: #333
}
.mod3 H2 {
	COLOR: #fff
}
.mod3 H2 A:link {
	COLOR: #fff
}
.mod3 H2 A:visited {
	COLOR: #fff
}
.mod .boxBody {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.mod2 .boxBody {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
.mod3 .boxBody {
	PADDING-RIGHT: 12px; PADDING-LEFT: 12px; PADDING-BOTTOM: 12px; PADDING-TOP: 12px
}
