/* CSS Document */
#main {
	background-color:#CCCCCC;
	width:750px;
	height: 500px;
}

.department {
	width:100%;
}

.parentdep {
}

.depunit {
	width:250px;;
	float: left;
	margin: 6px 3px;
}

.namehead {
	width:70;
}

.blueboard {
	border-color:#00FFFF;
	border-width:thin;
}